<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>SORRY</h1>
    <h2>we couldn't find that page</h2>
    <h3>Try searching or go to shop's homepage</h3>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFCCWvTbJ3YW0GRqDFPWqpwC0M66G6skTN-6wSynos1M7Ovxe74QdPwscjhDt-vTrP9NA&usqp=CAU" alt="image">

<%- include('includes/end.ejs') %>