<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
    <h1>Sorry</h1>
    <h2>we couldn't find that page</h2>
    <h3>Try searching or go to home page</h3>
    <img src="images/sorry.png" alt="image">

    <%- include('includes/end.ejs') %>
